*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#071321;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    color:white;
}

.login{
    width:420px;
    background:#0c1b2d;
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 40px rgba(0,0,0,.4);
}

.logo{
    width:180px;
    margin-bottom:20px;
}

h1{
    font-size:42px;
    margin-bottom:10px;
}

p{
    color:#9da8b4;
    margin-bottom:35px;
}

input{
    width:100%;
    height:55px;
    margin-bottom:15px;
    border:none;
    border-radius:12px;
    padding-left:20px;
    font-size:18px;
}

button{
    width:100%;
    height:58px;
    border:none;
    border-radius:14px;
    font-size:18px;
    cursor:pointer;
    margin-top:10px;
}

.boss{
    background:#1366ff;
    color:white;
}

.worker{
    background:#202d3d;
    color:white;
}.dashboard{
    width:720px;
    max-width:92vw;
    background:#0c1b2d;
    border-radius:24px;
    padding:40px;
    box-shadow:0 0 50px rgba(0,0,0,.45);
}

.dashboard h1{
    font-size:42px;
    margin-bottom:10px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:14px;
    margin:30px 0;
}

.stats div{
    background:#111f33;
    border-radius:18px;
    padding:20px;
    text-align:center;
}

.stats b{
    display:block;
    font-size:28px;
    margin:8px 0;
}

.stats span{
    color:#9da8b4;
    font-size:14px;
}select,
textarea{
    width:100%;
    border:none;
    border-radius:12px;
    padding:18px;
    font-size:18px;
    margin-bottom:15px;
}

textarea{
    min-height:120px;
    resize:none;
}.request-list{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin:25px 0;
}

.request-card{
    background:#111f33;
    border-radius:18px;
    padding:20px;
    color:white;
}

.request-card h3{
    font-size:24px;
    margin-bottom:10px;
}

.request-card p{
    margin:6px 0;
}